
    {% extends 'layout.html' %}

    {% block content%}

    <div class="form-group well">
      <form action="/users" method="POST">
        <input name="name" class="form-control input-lg" placeholder="user name">
        <br>
        <label for="manager">Is Manager</label>
        <input type="checkbox" name="manager" value='true'>
        <br>
        <input type="submit" class="btn btn-primary" value="Submit">
      </form>
    </div>

    <script>
      $("li:contains('Home')").toggleClass('active')
    </script>

    {% endblock %}
