
  {% block header %}
  <h1>Users</h1>
  {% endblock %}

  {% extends 'layout.html' %}

  {% block content %}
  
    {% for user in users %}
      <li class="list-group-item">{{user.name}}
      {% if not user.ismanager %}
        <br>
        <form action='/users/{{user.id}}?_method=PUT' method='POST'><input type='submit' class='btn btn-warning' value='Make Manager'></form>
        <form action='/users/{{user.id}}?_method=DELETE' method='POST'><input type='submit' class='btn btn-warning' value='Delete'></form>
      {% else %}
        <span class="label label-default">manager</span>
      {% endif %}
      </li>
    {% endfor %}

    <script>
      $('li').filter(function() {console.log( $(this).text()); return $(this).text() == 'Users' }).toggleClass('active')
    </script>

  {% endblock %}
